/*************
  Open Sans, loaded via Google Fonts. Replace below with your own @font-face or @import statements	
*************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
$base-font-family: 'Poppins', sans-serif;